mat-card{
    width:100%;
    height:500px;
    background-color: #C6DCE3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
        span{
            background-color:#C6DCE3
        }
}

